*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
}

#hero{
    width: 100%;
    height: 805px;
    background: url(/Imagens\ carrousel/mohazus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}



.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.navbar .menu a{
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
    transition-duration: 0.4s;
    letter-spacing: 0.5px;
}

.navbar .menu a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}


.hero-box{
    width: 50%;
    margin-top: 200px;
}

.hero-box .hero-heading{
    color: #fff;
    font-size: 50px;
    line-height: 65px;
    font-family: "Titillium Web", sans-serif;;
}

.hero-box .hero-desc{
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    padding: 30px 0;
}


