*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
}

#hero{
    width: 100%;
    height: 700px;
    background: url(/Imagens\ carrousel/mohazus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
    border-bottom: solid 3px #F4CF8B;
}

#hero-class{
  width: 100%;
  height: 700px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.cabecalho {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 80px;
    border-bottom: 1px solid #282828;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .cabecalho .logo img{
    display: flex;
    gap: 15px;
    max-width: 150px;
  }
  
  .cabecalho .menu {
    display: flex;
    gap: 15px;
  }
  
  .menu {
    list-style-type: none;
  }

  .cabecalho .menu li a {
    padding: 30px;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
  }
  
  .cabecalho .menu li a:hover {
    color: #F4CF8B;
    border-bottom: 2px solid #F4CF8B;
    background-color: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(251,255,0,1) 100%);
  }



.hero-box{
  max-width: 100%;
    width: 50%;
    margin-top: 100px;
}

.hero-box .hero-heading{
    color: #fff;
    font-size: 50px;
    line-height: 65px;
    font-family: "Titillium Web", sans-serif;;
}

.wish-button{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.51);
  border-radius: 7px;
}

.wish-button:hover{
  background-color: rgba(0, 0, 0, 0.51);
  color: #fff;
}

.hero-box{
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.75) transparent;
}

.hero-box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-desc{
  margin-bottom: 10px;
}

/***** hero2 *****/ 

.hero2{
  display: flex;
  justify-content: center;
  border-bottom: solid 3px #F4CF8B;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-inline: 1.25rem;
}

.hero_left{
  flex: 1;
  text-align: center;
  padding-top: 40px;
}


.hero_right{
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 100%;
}


.hero_left, .hero_right{
  height: 600px;
  flex: 1;
}

.hero_description{
  margin-block: 1.25rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: calc(1em + 0.5rem);
}

.hero_button{
  cursor: pointer;
  background-color: #ffff;
  border: 1;
  padding: 0.5em 2em;
  border-radius: 6px;
  color: #080808;
  margin-top: 10px;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


.hero_button:hover{
  background-color: #F4CF8B;
  color: black;
  transition: 1s;
}

.hero_img{
  max-width: 100%;
  height: 100%;
}
/***** End hero2 *****/
